.study-sets-container {
    margin: 0 auto;
    max-width: 900px;
    padding: 20px;
}

.study-sets-title {
    font-size: 24px;
    font-weight: bold;
}

.study-sets-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.study-set-box {
    background-color: #000;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.study-set-name {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.study-set-category,
.study-set-description {
    font-size: 14px;
    margin-top: 5px;
}

.study-set-description {
    font-style: italic;
}

.popup-container {
    background-color: black;
    border-color: aqua;
    border-radius: 5px;
}

.pop-container {
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(0, 3, 185);
}   

.PopHeader {
    padding: 20px;
    color: white;
}

.radio {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.continue-btn {
    padding-top: 15px;
}

.back-btn {
    padding-top: 15px;
}

.error_msg {
   margin-bottom: 0.5em;
   color: #f34646;
   text-align: center;
   font-size: 14px;
}