/* entire footer general style */
.footer_div{
    background-color: #161b22;
    padding-top: 16px;
    padding-bottom: 16px;
    position: relative;
    width: 100%;
}

/* all links in footer styling */
.links{
    text-align: center;
}

/* links hover */
.link:hover{
    color: orange;
}

/* each link style */
.link{
    display: inline-block;
    color: white;
    text-decoration: none;
    margin-bottom: 5px;
}

/* about button style */
.about{
    margin-right: 20px;
}

/* staight line */
.line{
    border: 1px solid gray;
    width: 95%;
}

/* footer content style */
.footer-content{
    padding: 0;
    margin: 0;
    margin-left: 3%;
}