.reset_password_container{
    color: white;
    background-color: #14181d;
    text-align: center;
    max-width: 20em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-right: 2.5em;
    padding-left: 2.5em;
    border-radius: 5%;
    margin: auto;
    margin-top: 4em;
}

.reset_password_field_container{
    margin-bottom: 1.5em;
}

.error_msg {
    margin-bottom: 0.5em;
	color: #f34646;
	text-align: center;
	font-size: 14px;
}

.back {
    padding-top: 1.5em;
}