.footer_div{
    background-color: #161b22;
    padding-top: 16px;
    padding-bottom: 16px;
    position: relative;
    width: 100%;
}

.links{
    text-align: center;
}

.link:hover{
    color: orange;
}

.link{
    display: inline-block;
    color: white;
    text-decoration: none;
    margin-bottom: 5px;
}

.about{
    margin-right: 20px;
}

.line{
    border: 1px solid gray;
    width: 95%;
}

.footer-content{
    padding: 0;
    margin: 0;
    margin-left: 3%;
}