.header-div {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 0px;
}

.questions {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 40px;
}

.question-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 20px 20px 20px;
    width: 800px;
    background-color: rgb(82, 82, 82);
    border-radius: 5px;
    gap: 20px;
}

.question-data {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1 / 3;
}

.question-a, .question-q {
    padding: 0 10px 10px 15px;
    margin-top: 10px;
}

.question-a {
    border-left: solid #000000;
}

.true-button, .false-button {
    padding: 8px 0;
}
.mc-question {
    grid-column: 1/3;
    justify-self: center;
}